{% extends 'base.html' %} {% block content %}

<h5>Active Deployments</h5>
<div class="card">
  <div class="card-body">
    <div class="table-responsive-md">
      <table class="table" id="deploymentstable">
        <thead>
          <tr>
            <th>#</th>
            <th>Container ID</th>
            <th>Image Name</th>
            <th>User</th>
            <th>Exposed Port</th>
            <th>Created At</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    
  </div>
</div>

{% endblock %} {% block scripts %}
<script type="text/javascript">
  feather.replace();
  active_deployments();
</script>
{% endblock %}
