{% extends 'base.html' %} {% block content %}
<h5>Available Images</h5>
<div class="card">
  <div class="card-body">
    <div class="table-responsive-md">
      <table class="table table-striped" id="imagestable">
        <thead>
          <tr>
            <th>#</th>
            <th>Image Name</th>
            <th>Local Port</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
  feather.replace();
  get_images();
</script>
{% endblock %}