body{
    background-color: black;
}

.heading{
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: antiquewhite;
    text-align: center;
}

.signupArea{
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.signupAreaDiv{
    background-color: #2b2835;
    padding: 30px;
    border-radius: 10px;
    height: 520px;
    width: 400px;
    border-style: inset outset outset double;
    border-color: rgb(149, 147, 163);
    box-shadow: 16px 5px 300px 200px rgba(122,118,161,0.2);
}

.btn{
    text-align: center;
    background-color: rgb(108, 102, 164);
    align-items: baseline;
    color: antiquewhite;
}

.form-label{
    color: antiquewhite;
}